@font-face{
	font-family: myfont;
	src: url('../fonts/constantine.ttf');
}

@font-face{
	font-family: paragraphfont;
	src: url('../fonts/Raleway-Regular.ttf');
}

body{
	font-family:  paragraphfont;
}

.navmenu-fixed-left {
	font-family: 'Raleway', sans-serif;
}

.navmenu.navmenu-default.navmenu-fixed-left{
	background : linear-gradient(#003d33,#000);
}

.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a{
	color: #fff;
	text-align: center;
}

.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a{
	padding: 8px;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
	padding-left: 12%;
}

.navmenu-default .navmenu-nav>li>a:hover{
	transition: 0.3s ease;
	  border-top: 1px solid #ffffff;
	  border-bottom: 1px solid #ffffff;
}

.my-background{
	color: white;
	background : linear-gradient(#00251a,#4f9a94);
}

.background-theme{
	background-image: url('../img/main-background.jfif');
}

.background-theme h2{
	color: white;
}

table{
	background : linear-gradient(#bdbdbd,#e0e0e0);
	color: #000;
}

.modal-content{
	color: white;
	background : linear-gradient(#00251a,#004d40);
}

.modal-content small{
	color: white;
}

.warning_msg{
	color: #FF0E0E;
	font-weight: bold;
	font-size: medium;
}

.warning_msg:hover{
	color: #FF0E0E;
	font-weight: bold;
	font-size: large;
}
.my-signup {
	z-index: 15;
	left: 35%;
	margin: 0 0 0 -150px;
}

.my-signup label{
	color: white;
}

.my-login-letters{
	font-size: large;
	font-weight: bold;
}

.my-login-letters:hover{
	font-size: x-large;
	font-weight: bold;
}

.profile-image{
	height: 130%; width: 130%
}

.title-bar{
	color: white;
}

.my-upload-button{
	background-color: #00363a;
	border-color: white;
}

.my-upload-button:hover{
	border-color:white ;
	background-color: #052f25;
}


.top-buffer{
	margin-top: 5%;
}

.my-sidebar-item a:hover{
	color: white;
	background-color: #00989c;
}

#side-bar-list a.active{
	border-color: white;
	color: white;
	background-color:#00363a ;
}


.add-text{
	color: white;
}

a.list-group-item, button.list-group-item {
	color: #555;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
h1{
	color: white;
}