@font-face{
    font-family: myfont;
    src: url('../fonts/constantine.ttf');
}

@font-face{
    font-family: bodyfont;
    src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face{
    font-family: paragraphfont;
    src: url('../fonts/cantora.ttf');
}

#login-modal .modal-dialog {
    width: 350px;
    background: #000;
}

.modal-content{
    background: #212121;
    /*height: 500px;*/
}

#login-modal input[type=text], input[type=password]{
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
    text-align: center;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background:linear-gradient(#00600f,#003300) ;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background:linear-gradient(#d50000,#7f0000) ;
    text-align: center;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 200px;
    max-width: 200px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    /*background: linear-gradient(#212121,#000);*/
    background-image: url("../img/panel-default-background.jpg");
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}


.close{
    color: #fff;
}

.my-msg{
    color: #8d8d8d;
    text-align: center;
}

.my-msg p{
    text-align: center;
}
.my-login-form input{
    background-color:#212121 ;
    border-color: #a4a4a4;
    color: #e0e0e0;
}

.gender-selector{
    background-color:#212121 ;
    border-color: #a4a4a4;
    color: #e0e0e0;
    margin-top: 10px;
}

#icon-login-msg, #icon-lost-msg, #icon-register-msg{
    background-color: transparent;
}

.glyphicon-chevron-right{
    color: grey;
}

.navbar-login
{
    width: 330px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.logout-content .dropdown-menu{
    border-color: #fff;
    background-image: url("../img/panel-default-header2.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    /*background: linear-gradient(#212121,#95a5a6);*/
}

.logout-content p{
    color: #fff;
    font-family: bodyfont ;
}

.logout-content .name-tag{
    font-size: 110%;
}
